---
layout: default
---

<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.png" >

Here are <b>all posts, listed by category</b>. Since a post is normally filed under more than one category, it will appear repeated here. I used a lot of categories to make sure this list here could work as a useful index for you to "read up" on what's currently occupying you.

{% comment %}
#
#  Change date order by adding '| reversed'
#  To sort by title or other variables use {% assign sorted_posts = category[1] | sort: 'title' %}
#
{% endcomment %}
{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
{% assign sorted_posts = category[1] | reversed %}
<h4 id="{{category[0] | slugify }}">{{category[0] | capitalize}}</h4>
<ul>
  {% for post in sorted_posts %}
 	<li><a href="{{ site.url }}{{ site.baseurl }}{{  post.url }}">{{  post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}


{% comment %}
<div id="archives">
{% for category in site.categories %}
 <div class="archive-group">
		<ul>
		{% capture category_name %}{{ category | first }}{% endcapture %}
		<div id="#{{ category_name | slugize }}"></div>
		<li>
			<h3 class="category-head">{{ category_name }}</h3>
			<a name="{{ category_name | slugize }}"></a>
			<ul>
			{% for post in site.categories[category_name] %}
			<article class="archive-item">
			  <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
			</article>
			{% endfor %}
		</li>
		</ul>
  </div>
{% endfor %}
</div>
{% endcomment %}

<p></p>
<p></p>
<p></p>
And finally here are all posts again, this time <b>listed by date</b>: 

<div class="posts">
  <ul>
    {% for post in site.posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}},</a>
      <span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
    </li>
    {% endfor %}
  </ul>
</div>
