---
layout: default
---

<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.png" >

All posts, listed by category: 

<div id="archives">
{% for category in site.categories %}
 <ul> 
 <div class="archive-group">
    <li>
		<ul>
		{% capture category_name %}{{ category | first }}{% endcapture %}
		<div id="#{{ category_name | slugize }}"></div>
		<h3 class="category-head">{{ category_name }}</h3>
		<ul>
		<li><a name="{{ category_name | slugize }}"></a></li>
		{% for post in site.categories[category_name] %}
		<article class="archive-item">
		  <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
		</article>
		{% endfor %}
		</ul>
	</li>
</ul>
  </div>
{% endfor %}
</div>

All posts, listed by date: 

<div class="posts">
  <ul>
    {% for post in site.posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}},</a>
      <span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
    </li>
    {% endfor %}
  </ul>
</div>
