---
layout: default
---
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.png" >

{% include ads.html %}


<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}, included in catogories {{ page.categories | join: ', ' }}
	    {% for category in page.categories %}
      <li><a href="#{{ category[0] }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
{% endfor %}
  </div>

  {% include disqus.html %}
</article>

{% include ads.html %}

{% include license.html %}
